# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Virtual Environment
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# .gitignore - добавить
.env
*.env.local
*.env.*.local

# Stripe
stripe.log